*.iml
.gradle
gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
build
src/main/java/demo/third/com/exceldemo/familybill/
.idea
# Created by .ignore support plugin (hsz.mobi)
.idea/
.gradle/
build/
/gradle/
*.apk
captures/com.shangshaban.zhaopin.activity_2016.08.24_18.33.alloc
/shangshaban/bugly
/captures/
